#top {
  background: #6899FF url(images/menu_bkg.gif) left bottom no-repeat;;
  border-collapse: collapse;
  text-align: left;
}
#menu {
  background: #000 url(images/upper-nav-crn.gif) left bottom no-repeat;
  border-collapse: collapse;
  width: 310px;
  height: 14px;
  text-align: right;
}

#menu a {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px 0px 5px;
  text-decoration: none;
}

#menu a:hover {
  text-decoration: none;
}

/**************************************************************************
 * Search 
 **************************************************************************/
#search {
  background: #6899FF;
  border-collapse: collapse;
  height: 23px;
  text-align: right;
}

/**************************************************************************
 * Profile menu 
 **************************************************************************/
#profile {
  background: #05ba05 url(images/lower-nav-crn.gif) left bottom no-repeat;
  border-collapse: collapse;
  height: 10px;
  text-align: right;
}

#profile a {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}

#profile a:hover {
  text-decoration: none;
}

/**************************************************************************
 * Categories style 
 **************************************************************************/
#categories		{
	background-color: #F5F5F5;
  margin-left: .5em;
	border: 1px solid #a5a5a5;
}
#categories a { 
  text-decoration: none;
	font-size: 11px;
}
#categories a:hover {
  text-decoration: underline;
}

/**************************************************************************
 * Lists   
 **************************************************************************/
#List {
    margin-left: 5px;
}
.ListItem			{ margin: 0; padding: 1px; padding-left: 5px; padding-right: 5px; border-bottom: 1px dashed #BBBBBB; background-color: #FFFFE1; }
.ListItem_Hover		{ margin: 0; padding: 1px; padding-left: 5px; padding-right: 5px; border-bottom: 1px dashed #CCCCCC; background-color: #FFFFCC; }
.ListItem dt { font-size: 1.4em; font-weight: bold; }
.ListItem_Hover dt { font-size: 1.4em; font-weight: bold; }
.ListItem dt a { text-decoration: none; color: #000; }
.ListItem_Hover dt a { text-decoration: none; color: #000; }
.SmallText				{ font-size: 10px; color: #666666; }

/**************************************************************************
 * Portlets
 * ***********************************************************************/
.portlet_title {padding:3px 6px 3px 6px; background-color:#DBEDF6;}
.portlet_list {padding:3px 6px 3px 6px; background-color:#DBEDF6;}
.portlet_more {padding:3px 6px 3px 6px; background-color:#DBEDF6;}

/**************************************************************************
 * 
 * ***********************************************************************/
#logged {
  margin: -0.9em 0 0.3em 24px;
  text-align: right;
}


#footer {
  text-align: center;
  border-top: 1px solid #6899FF;
  font-size: 1.0em;
  margin: 3.5em auto 0 auto;
  padding: 0.3em;
  width: 500px;
}

#footer a {
  margin-left: 2em;
  margin-right: 2em;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.searchinput {
    font:normal 11px Tahoma, Arial;
    color:#000;
    margin:0px 8px 0px 0px;
    background:#fff url(images/mag_glass.gif) no-repeat;
    padding:2px 2px 2px 17px
}


=======
>>>>>>> 949facdafde45002ac3b9ef8ccaf8a54d4d21f2b:ui/uktravel/style.css
