/*Copyright 2007 Abakuc Limited */
h1, h2 {
font-size:116%;
font-weight:bold;
}

/**************************************************************************
 * YUI patches 
 **************************************************************************/
 .yui-gf div.first {width:23.8%;}
 .yui-gc div.user {background:#339A40;}
/**************************************************************************
 * Header 
 **************************************************************************/
#hd{ background:#339A40;}
#hd h1 { background:url(images/logo.png) top left
no-repeat;width:400px;height:62px;}
#hd h1 a{width:400px;line-height:48px;display:block;text-indent:-5000px;text-decoration:none;border:none;background:none;}
#hd h1 a:hover {background:none;border:none;text-decoration: none;}

/**************************************************************************
 * Navigation Bar 
 **************************************************************************/
#hd #navbar{position:absolute;top:0;right:15px;text-align:right;}
#hd #navbar ul{float:right;list-style:none;}
#hd #navbar li{float:left;color:white;}
#hd #navbar a{float:left;display:block;color:#333;border:1px solid;border-color:#339A40;background:#339A40;margin:0 1px 0 0;padding:1px 8px;}
#hd #navbar a:hover {color:#333;padding-bottom:1px;background:#fff;border:1px solid;border-color:#000;}

/**************************************************************************
 * Search 
 **************************************************************************/
#hd #search {position:absolute;top:26px;right:15px;text-align:right;}

#hd .searchinput {
    margin:0px 8px 0px 0px;
    background:#fff url(images/mag_glass.gif) no-repeat;
    padding:2px 2px 2px 17px
}
/**************************************************************************
 * Bar 
 **************************************************************************/

#hd #bar{position:absolute;top:62px;right:15px;text-align:right;}
#hd #bar ul{float:right;list-style:none;margin:0;padding:0;}
#hd #bar li{float:left;margin:0;padding:0;}
#hd #bar a{display:block;color:#FFCD01;text-decoration:none;border:1px solid #9B8748;border-top:none;background:#D72D23;margin:0 1px 0 0;padding:1px 8px;}
#hd #bar a:hover {color:#333;padding-bottom:1px;background:#fff;}

/**************************************************************************
 * Left menu style 
 **************************************************************************/
#left {
  border:1px solid; border-color:#339A40;
  margin-top: 1em;
}
#left label {
  display: block;
  margin: 0 0.1em 0.3em 0.1em;
  padding: 0.3em 0.3em;
  color: #fff;
  background: #FFCD01;
}

#left dl {
  display: block;
  padding: 0.3em 0.3em;
}

#left a {
  padding-left: 0.2em;
  font-size: 93%;
  text-decoration:none;
}


/**************************************************************************
 * Left menu style 
 **************************************************************************/
#left .menu2_block {
  margin: 0px 0px 0px 5px;
}

#left .menu3_block {
  margin: 0px 0px 0px 10px;
}
/**************************************************************************
 * Right-box style 
 **************************************************************************/
#right-box {
  background:url(images/right_box_bkg.gif) top left no-repeat;
  border:1px solid; border-color:#339A40;
  margin: 1em;
  width: 160px;
}
#right-box li {
  display: block;
  border:1px solid; border-color:transparent;
  padding: 0.1em 0.3em;
}

#right-box li:hover {
  background:#339A40;
  border:1px solid; border-color:#000000;
  font-color: #ffffff;
}
#right-box a {
  padding-left: 0.2em;
  font-size: 93%;
  text-decoration:none;
}

/**************************************************************************
 * Right column style 
 **************************************************************************/
#bread { margin: 0.3em 0 0 0; font-size: 77%; }
.batch { text-align:right; margin: 0.2em; font-size: 77%; }
.info { text-align:right; margin: 0.3em; font-size: 85%; }
/**************************************************************************
 * Categories style 
 **************************************************************************/
#categories { margin: 0.1em 0.5em 0.1em 0.5em; font-size: 85%; }
#categories a { text-decoration: none; } 
#categories a:hover { text-decoration: underline; }

tr.odd th, tr.odd td {
  background: #eeeeec;
}

th a.sort_up {
  background: transparent url(images/order-up.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

th a.sort_down {
  background: transparent url(images/order-down.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

th a.sort_none {
  background: transparent url(images/order-none.png) right top no-repeat;
  padding-right: 20px;
  text-decoration: none;
}

/* Workflow */
.workflow { text-decoration: none; }
.wf_private { color: #c00; }
.wf_pending { color: #f57900; }
.wf_public { color: #4e9a06; }

/**************************************************************************
 * Portrait box   
 **************************************************************************/
.portrait { margin: 0.5em; }
.points { margin: 0 0.5em 0 0.5em;font-size: 189%; }

/* PAGE NAVIGATION */

/**************************************************************************
 * Progress   
 **************************************************************************/
#progress { font-size: 93%; font-weight: bold; margin: 5px 5px -15px 0;
text-align: right; }
#progress .selected { color: red; }
#progress .link { color: red; }

/**************************************************************************
 * Content box   
 **************************************************************************/
#training-doc { margin-top: 5px; }
#training-doc h1, #training-doc h2, #training-doc h3, #training-doc h4, #training-doc h5, #training-doc h6
{ border-bottom: 1px solid #d3d7cf; }
#training-doc ol li { list-style-type: decimal; margin: 5px 5px 5px 10px; }
#training-doc ul { margin-left: 20px; }
#training-doc ul li { list-style-type: square; }
#training-doc span { text-align: justify; }
#training-doc table { margin: 15px; }
#training-doc p, #training-doc div { margin: 5px; }
#training-doc form fieldset { border-bottom: 1px solid #d3d7cf; }
#training-doc form legend { font-size: 0.9em; }
#training-doc form dd { padding-bottom: 0.5em; }
#training-doc form p { clear: both; }
#training-doc form .form_mandatory { color: red; font-weight: bold; }
#training-doc .field_required { font-style: italic; }
#training-doc form .missing { color: #ff0000; }
/* IMAGE WITH TEXT WRAPPED AROUND IT */
#training-doc span.training-doc-image { float: right; margin: 5px 5px 0 5px; }
#training-doc img.training-doc-image { margin: 5px; }
#training-doc dt.training-doc-image { margin-bottom: 5px; }

.vignette { float: left; margin: 2px 2px 2px 2px; }
/**************************************************************************
 * Form   
 **************************************************************************/
#form { margin: 0.5em; white-space: nowrap; }
#form fieldset { border: 1px solid #000; }
#form legend { padding: 0; color: #000; }
#form label { color: #333fff; font-size: 77%; }
#form input, textarea, select { margin: 0; padding: 1px; }
#form input:focus, textarea:focus { background: #efefef; color: #000; }

/**************************************************************************
 * Lists   
 **************************************************************************/
.List {
    margin-left: 5px;
    padding-right: 12px;
}
.ListItem			{ margin: 0; padding: 1px; padding-left: 5px; padding-right: 5px; border-bottom: 1px dashed #BBBBBB; background-color: #FFFFE1; }
.ListItem_Hover		{ margin: 0; padding: 1px; padding-left: 5px; padding-right: 5px; border-bottom: 1px dashed #CCCCCC; background-color: #FFFFCC; }
.ListItem dt { font-size: 93%; font-weight: bold; }
.ListItem_Hover dt { font-size: 93%; font-weight: bold; }
.ListItem dt a { text-decoration: none; color: #000; }
.ListItem_Hover dt a { text-decoration: none; color: #000; }
.SmallText				{ font-size: 77%; color: #666666; }

/**************************************************************************
 * Footer
 **************************************************************************/
#ft { border-top: 1px solid #339A40;margin-top:15px;font-size: 85%;} 
#ft .affiliation li { width:95px; }
#ft .affiliation h1 {position:relative;top:-15px;background:url(images/travel-registry.png) top left no-repeat;width:100px;height:37px; }
#ft .affiliation h1 a { width:100px;line-height:37px;display:block;text-indent:-5000px;text-decoration:none;border:none;background:none;}
#ft ul {list-style:none;margin:0;padding:0;}
#ft li {float:left;margin-top:5px;padding:0;}
#ft a {margin-left: 1em; margin-right: 1em; margin-right: 1em;text-decoration: none;}
#ft a:hover {text-decoration: underline;}

/* LINKS */

/* HOME PAGE NEWS LIST */
.newslist {width: 430px; margin: 10px 10px; }

<<<<<<< HEAD:skins/uk.expert.travel/style.css
=======

>>>>>>> 09d5b9c76015ad283b6b00cb0eb2b8832d353c46:skins/uk.expert.travel/style.css
